<!-- body -->
<div class="page-header">
	<h1>Registered Students</h1>
</div>
<div>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Program</th>
			<th>Email</th>
			<th></th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.program %></td>
			<td><%= user.email %></td>
			<td><%= link_to 'Show', user %></td>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to 'New User', new_user_path %>